<input type="url" ng-model="url"/>
<a href="" ng-click="loadFeed()" class="btn btn-success">Load Feeds</a>

<div class="alert alert-danger" role="alert" ng-show="result.error">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Enter a valid RSS feed URL
</div>

<ul ng-repeat="entry in result.feed.entries">
    <li ng-init="getImgFromEntry(entry)" class="flip-container">
        <div class="flipper">
            <div class="front row">
                <div class="col-md-12">
                    <h3>
                        <a ng-href="{{entry.link}}">{{entry.title}}</a>
                    </h3>
                    <h6>{{entry.author}}</h6>
                </div>
            </div>
            <div class="back">
                <p ng-bind-html="entry.content"></p>
            </div>
        </div>
    </li>
</ul>
