<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RSS Feeds</title>
        <meta author="Varun Ramakrishnan"/>

        <link rel="stylesheet" href="../css/lib/bootstrap/bootstrap.css"/>
        <link rel="stylesheet" href="../css/custom/style.css"/>
        <link rel="stylesheet" href="../css/custom/animations.css" />

        <script src="../js/lib/jquery/jquery-2.0.0.js"></script>

        <script src="../js/lib/bootstrap/bootstrap.js"></script>

        <script src="../js/lib/angular/angular.js"></script>
        <script src="../js/lib/angular/angular-resource.js"></script>
        <script src="../js/lib/angular/angular-route.js"></script>
        <script src="../js/lib/angular/angular-sanitize.js"></script>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("feeds", "1")  //Load Google Ajax Feed API (version 1)
            // This is required to make sure that any google.feed objects created in following files are not 'null' or 'undefined'
        </script>

        <script src="../js/custom/app.js"></script>
        <script src="../js/custom/controllers.js"></script>
    </head>

    <body ng-app="FeedReader">
        <div class="jumbotron">
            <h1>My Feeds</h1>
            <p>You can add or remove feeds in the Settings tab below</p>
        </div>

        <ul class="nav nav-tabs" ng-controller="NavController">
            <li role="presentation" ng-class="home" ng-click="homeClicked()">
                <a href="#feeds">Feeds</a>
            </li>
            <li role="presentation" ng-class="settings">
                <a href="#settings" ng-click="settingsClicked()">Settings</a>
            </li>
        </ul>

        <div ng-view></div>
    </body>
</html>
